<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Więcej informacji</title>
        <link rel="stylesheet" href="/style/about.css" />
    </head>

    <body>
        <header>
            <h1>Więcej informacji</h1>
        </header>

        <main>
            <section aria-labelledby="hGwiazdy">
                <h2 id="hGwiazdy">Gwiazdy ZSI?</h2>
                <p class="description">
                    Gwiazdy ZSI to autorski projekt mający na celu zgromadzenie
                    oraz oznaczenie zdjęć nauczycieli z ZSI. Zdjęcia można
                    wyszukiwać poprzez znajdujących się na nich nauczycieli, co
                    tworzy solidną bazę obrazków. Autor strony nie odpowiada za
                    zamieszczone zdjęcia, jedynie za ich skatalogowwanie.
                </p>
            </section>

            <section aria-labelledby="hContact">
                <h2 id="hContact">Kontakt</h2>

                <p class="description">
                    Chcesz wziąć udział w tworzeniu Gwiazd ZSI? Odwiedź
                    <a
                        href="https://github.com/sutaC/Gwiazdy-ZSI"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >Gwiazdy ZSI na GitHub</a
                    >
                    i zobacz co możesz zrobić!
                </p>

                <p class="description">
                    Chciałbyś aby na stronie znalazło się wiecej zdjęć twojego
                    ulubionego nauczyciela? Skontaktuj się ze mną, a możesz
                    zostać administratorem! Napisz na
                    <a
                        href="mailto:catus.pl@gmail.com"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >mojego maila</a
                    >, albo sprawdź inne formy kontaktu ze mna na
                    <a
                        href="https://sutac.pl#contact"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >mojej stronie</a
                    >.
                </p>
            </section>

            <section aria-labelledby="hCredits">
                <h2 id="hCredits">Zasługi</h2>
                <div aria-labelledby="hOwner">
                    <h3 id="hOwner">Projekt stworzony i utrzymywany przez:</h3>
                    <ul class="credits">
                        <li>
                            <a
                                href="http://github.com/sutaC"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="highlight"
                                >sutaC</a
                            >
                        </li>
                    </ul>
                </div>

                <div aria-labelledby="hContributors">
                    <h3 id="hContributors">
                        Kontrybutorzy i kontrybutariuszki
                    </h3>

                    <% if (credits.contributors.length == 0) { %>
                    <small class="creditsEmptyMsg"
                        >Nie ma jeszcze żadnych kontrybutorów, ale możesz zostać
                        pierwszym!</small
                    >
                    <% } %>

                    <ul class="credits">
                        <% for(const contr of credits.contributors) { %>
                        <li>
                            <a
                                class="highlight"
                                href="<%= contr.url %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><%= contr.name %></a
                            >
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div aria-labelledby="hAdministrators">
                    <h3 id="hAdministrators">Administracja</h3>

                    <% if (credits.administrators.length == 0) { %>
                    <small class="creditsEmptyMsg"
                        >Nie ma jeszcze administratorów, ale możesz zostać
                        pierwszym!</small
                    >
                    <% } %>

                    <ul class="credits">
                        <% for(const admin of credits.administrators) { %>
                        <li>
                            <a
                                href="<%= admin.url %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="highlight"
                                ><%= admin.name %></a
                            >
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <a href="/" class="buttonlike">Powrót</a>
        </footer>
    </body>
</html>
