<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Więcej informacji</title>
        <link rel="stylesheet" href="/style/about.css" />
    </head>

    <body>
        <header>
            <h1>Więcej informacji</h1>
        </header>

        <main>
            <section aria-labelledby="hGwiazdy">
                <h2 id="hGwiazdy">Gwiazdy ZSI?</h2>
                <p class="description">
                    Gwiazdy ZSI to autorski projekt mający na celu zgromadzenie
                    oraz oznaczenie zdjęć nauczycieli z ZSI. Zdjęcia można
                    wyszukiwać poprzez znajdujących się na nich nauczycieli, co
                    tworzy solidną bazę obrazków. Autor strony nie odpowiada za
                    zamieszczone zdjęcia, jedynie za ich skatalogowwanie.
                </p>
                <a
                    href="https://github.com/sutaC/Gwiazdy-ZSI"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="highlight ghSocials"
                    >Gwiazdy ZSI na GitHub!</a
                >
            </section>

            <section aria-labelledby="hAnnouncement">
                <h2 id="hAnnouncement" class="highlight">Ogłoszenie!</h2>

                <p class="description">
                    Poszukiwany jest ochotnik na miejsce administratora witryny!
                    Wymagana jest znajomość nauczycieli ZSI Kielce. Zasłużeni
                    kontrybutorzy, na życzenie, zostaną uwzględnieni na stronie
                    ;3. Po więcej informacji kontakt przez discord:
                    <a
                        href="https://discord.com/users/560883480251334666"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >sutac_pl</a
                    >, inne formy komunikacji znajdziesz na mojej stronie:
                    <a
                        href="https://sutac.pl"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >sutac.pl</a
                    >.
                </p>
            </section>

            <section aria-labelledby="hCredits">
                <h2 id="hCredits">Zasługi</h2>
                <p>
                    Projekt stworzony i utrzymywany przez:
                    <a
                        href="http://github.com/sutaC"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="highlight"
                        >sutaC</a
                    >
                </p>

                <div>
                    <h3>Kontrybutorzy i kontrybutariuszki</h3>

                    <% if (credits.contributors.length == 0) { %>
                    <small
                        >Nie ma jeszcze żadnych kontrybutorów, ale możesz zostać
                        pierwszym! ;3</small
                    >
                    <% } %>

                    <ul class="credits">
                        <% for(const contr of credits.contributors) { %>
                        <li>
                            <a
                                class="highlight"
                                href="<%= contr.url %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><%= contr.name %></a
                            >
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div>
                    <h3>Administracja</h3>

                    <% if (credits.administrators.length == 0) { %>
                    <small
                        >Nie ma jeszcze administratorów, ale możesz zostać
                        pierwszym! ;3</small
                    >
                    <% } %>

                    <ul class="credits">
                        <% for(const admin of credits.administrators) { %>
                        <li>
                            <a
                                href="<%= admin.url %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="highlight"
                                ><%= admin.name %></a
                            >
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <a href="/" class="buttonlike">Powrót</a>
        </footer>
    </body>
</html>
