<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Edytuj zdjęcie <%= photo.id %></title>
        <link rel="stylesheet" href="/style/forms.css" />
    </head>

    <body>
        <main>
            <h1>Edytuj zdjęcie <%= photo.id %></h1>

            <form
                hx-boost="true"
                hx-target="#error"
                hx-post="/img/<%= photo.id %>/update"
                hx-confirm="Czy na pewno chcesz zaktualizować to zdjęcie?"
            >
                <p id="error"></p>

                <div class="field">
                    <label for="src">URL</label>
                    <input
                        type="text"
                        placeholder="URL..."
                        value="<%= photo.src %>"
                        name="src"
                        id="src"
                        title="URL do zdjęcia w Internecie"
                    />
                </div>

                <div class="field">
                    <label for="localsrc">Ścieżka pliku</label>
                    <input
                        type="text"
                        placeholder="Ścieżka pliku..."
                        value="<%= photo.local %>"
                        name="localsrc"
                        id="localsrc"
                        title="Nazwa pliku zapisanego na serwerze"
                    />
                </div>

                <button type="submit">Zapisz</button>
            </form>

            <button
                hx-delete="/img/<%= photo.id %>/delete"
                hx-confirm="Czy na pewno chcesz trwale usunąć to zdjęcie?"
                hx-target="#error"
            >
                Usuń zdjęcie
            </button>

            <nav>
                <% if (prevImgId !== null) { %>
                <a href="/img/<%= prevImgId %>/update">Poprzednie zdjęcie</a>
                <% } else { %>
                <a href="#" style="visibility: hidden" aria-hidden="true"
                    >Poprzednie zdjęcie</a
                >
                <% } %>
                <a href="/img/<%= photo.id %>">Otwórz zdjęcie</a>
                <% if (nextImgId !== null) { %>
                <a href="/img/<%= nextImgId %>/update">Następne zdjęcie</a>
                <% } else { %>
                <a href="#" style="visibility: hidden" aria-hidden="true"
                    >Następne zdjęcie</a
                >
                <% } %>
            </nav>

            <p>Podgląd zdjęcia:</p>
            <%- include("../components/imgDisplay.ejs", {photo}) %>
        </main>
    </body>
</html>
