<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Edytuj zdjęcie <%= photo.id %></title>
        <link rel="stylesheet" href="/style/forms.css" />
        <link rel="stylesheet" href="/style/addImage.css" />
    </head>

    <body>
        <main>
            <h1>Edytuj zdjęcie <%= photo.id %></h1>

            <form
                hx-boost="true"
                hx-target="#error"
                hx-post="/img/<%= photo.id %>/update"
                hx-confirm="Czy na pewno chcesz zaktualizować to zdjęcie?"
            >
                <p id="error"></p>

                <div class="field">
                    <label for="src">URL</label>
                    <input
                        type="text"
                        placeholder="URL..."
                        value="<%= photo.src %>"
                        name="src"
                        id="src"
                    />
                </div>

                <div class="field">
                    <label for="localsrc">Ścieżka pliku</label>
                    <input
                        type="text"
                        placeholder="Ścieżka pliku..."
                        value="<%= photo.local %>"
                        name="localsrc"
                        id="localsrc"
                    />
                </div>

                <button type="submit">Zapisz</button>
            </form>

            <hr />

            <button
                hx-delete="/img/<%= photo.id %>/delete"
                hx-confirm="Czy na pewno chcesz trwale usunąć to zdjęcie?"
                hx-target="#error"
            >
                Usuń zdjęcie
            </button>

            <hr />

            <a href="/img/<%= photo.id %>/previous">Poprzednie zdjęcie</a>
            <a href="/img/<%= photo.id %>">Powrt</a>
            <a href="/img/<%= photo.id %>/next">Następne zdjęcie</a>

            <hr />

            <img
                src="<%= photo.src %>"
                onerror='this.src = "<%= "/uploads/" + photo.local %>"'
                alt="Gwiazda ZSI"
            />
        </main>
    </body>
</html>
