<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style/photos.css">
</head>

<body>

    <aside>
        <a href="/" class="return">Home</a>

        <hr>
        
        <% if(authorized){ %>
            <a href="/img/<%= photo.id %>/update">Edit</a>
        <% } %>
        
        <h2>Tags</h2>

        <div>
            <h3>Added tags</h3>
            <div id="tags">
                <%- include('../components/taglist.ejs', {tags, photoid: photo.id, checked: true, authorized}) %>
            </div>
        </div>

        <% if(authorized){ %>

            <div>
                <h3>Search tags</h3>
                <input type="text" id="promptInput" name="prompt" placeholder="Search..."
                    hx-get="/api/img/<%= photo.id %>/tag" hx-trigger="keyup changed delay:250ms, search"
                    hx-target="next #results">
                <div id="results"></div>
            </div>

            <% } %>

    </aside>

    <main>
        <h1>Image id: <%= photo.id %>
        </h1>
        <img src="<%= photo.src %>" alt="Zsi Satr">
        <div class="controlls">
            <a href="/img/<%= Number(photo.id) %>/previous" hx-boost="true"
                hx-trigger="click, keyup[ArrowLeft]">&leftarrow;</a>
            <a href="/randomimg">Random</a>
            <a href="/img/<%= Number(photo.id) %>/next" hx-boost="true"
                hx-trigger="click, keyup[ArrowRight]">&rightarrow;</a>
        </div>

    </main>

</body>

</html>