<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Zdjęcie <%= photo.id %></title>
        <link rel="stylesheet" href="/style/photos.css" />
    </head>

    <body>
        <header>
            <nav class="wraper">
                <a href="/" class="return"><button>Strona główna</button></a>

                <% if(authorized){ %>
                <a href="/img/<%= photo.id %>/update"
                    ><button>Edytuj</button></a
                >
                <% } %>
            </nav>

            <h1>Id zdjęcia: <%= photo.id %></h1>

            <div class="tag-section">
                <div id="tags" class="tags">
                    <%- include('../components/taglist.ejs', {tags, photoid:
                    photo.id, checked: true, authorized}) %>
                </div>

                <% if(authorized){ %>

                <div class="search-field">
                    <input
                        type="text"
                        id="promptInput"
                        name="prompt"
                        placeholder="Wyszukaj..."
                        hx-get="/api/img/<%= photo.id %>/tag"
                        hx-trigger="keyup changed delay:250ms, search"
                        hx-target="next #results"
                    />
                    <div id="results" class="search-results"></div>
                </div>

                <% } %>
            </div>
        </header>

        <main><%- include("../components/imgDisplay.ejs", {photo}) %></main>

        <footer>
            <a
                href="/img/<%= Number(photo.id) %>/previous"
                hx-boost="true"
                hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
                hx-replace-url="true"
                ><button>&leftarrow;</button></a
            >
            <a href="/randomimg"><button>Losuj</button></a>
            <a
                href="/img/<%= Number(photo.id) %>/next"
                hx-boost="true"
                hx-trigger="click, keyup[key=='ArrowRight'] from:body"
                hx-replace-url="true"
                ><button>&rightarrow;</button></a
            >
        </footer>
    </body>
</html>
