<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Statystyki</title>
        <link rel="stylesheet" href="/style/statistics.css" />
    </head>

    <body>
        <header id="top-header">
            <h1>Statystyki</h1>
        </header>

        <section aria-labelledby="quantity" class="quantity">
            <h2 id="quantity">Ilość zdjęć</h2>

            <p>Łącznie <%= imagesAmmount %> zdjęć</p>
            <div class="bar">
                <small
                    class="taged"
                    style="
                        --_ammount: <%=
                            Math.floor(
                                (imagesWithTagsAmmount / imagesAmmount) * 100
                            )
                            %>%;
                    "
                    >Oznaczone: <%= imagesWithTagsAmmount %>
                </small>
                <small
                    class="notTaged"
                    style="
                        --_ammount: <%=
                            Math.floor(
                                (
                                        (imagesAmmount - imagesWithTagsAmmount) /
                                            imagesAmmount
                                    ) * 100
                            )
                            %>%;
                    "
                >
                    Nieoznaczone: <%= (imagesAmmount - imagesWithTagsAmmount) %>
                </small>
            </div>
        </section>

        <main aria-labelledby="ranking">
            <h2 id="ranking">Ranking etykiet</h2>

            <% ranks.forEach((rank, idx)=> { %>

            <div class="rank">
                <div><%= idx + 1 %>.</div>
                <div class="name"><%= rank.name %></div>
                <div><%= rank.ammount %></div>
            </div>

            <% }); %>
        </main>

        <footer>
            <a href="/" class="buttonlike">Powrót</a>

            <a
                href="#top-header"
                class="buttonlike"
                aria-label="Powróć na początek strony"
                title="Powróć na początek strony"
                >^</a
            >
        </footer>
    </body>
</html>
