<% imagetabs.forEach(imagetab=> { %>

<div class="imagetab">
    <%- include("../components/imgDisplay.ejs", {photo: {src: imagetab.src,
    local: imagetab.local}}) %>
    <a href="/img/<%= imagetab.id %>">Id: <%= imagetab.id %></a>
</div>

<% }); %>

<small
    class="light"
    hx-get="/api/imagetaglist/<%= tagid %>?list=<%= Number(list) + 1 %>"
    hx-swap="outerHTML"
    hx-trigger="revealed"
    >Loading...</small
>
