<% if(authorized){ %> <% if(checked){ %>
<button
    class="tag delete"
    hx-delete="/api/img/<%= photoid %>/tag/<%= tag.id %>"
    hx-swap="outerHTML"
    hx-target="closest .tag"
    hx-confirm="Czy na pewno chcesz usunąć ten tag?"
>
    <% } else { %>
    <button
        class="tag add"
        hx-put="/api/img/<%= photoid %>/tag/<%= tag.id %>"
        hx-swap="beforeend"
        hx-target="#tags"
        hx-confirm="Czy na pewno chcesz dodać ten tag?"
        hx-on::after-request='document.querySelector("#promptInput").value = "";
                document.querySelector("#results").innerHTML = ""'
    >
        <% } %> <%= tag.name %>
    </button>

    <% } else { %>
    <a href="/?tagid=<%= tag.id %>" class="tag"><%= tag.name %></a>
    <% } %>
</button>
